@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    background-color: #F2F5F9;
}

#cuerpo{
    padding-top: 124px;
    display: flex;
    justify-content: center;
}

#carta{
    background-color: #FFFF;
    border-radius: 10px;
    width: 418px;
}

#titulo {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;

}


#top {
    background-image: url(assets/imgs/hero-image-business-card.png);
    width: 418px;
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}   

#medio {
    padding-top: 217px;
}

#texto {
  padding: 0px 32px 24px 32px;
  border-bottom: 1px solid #F2F5F9;
}

p {
  font-family: "Lato";
  font-size: 16px;;
  color: #677489;
  font-weight: 400;
  margin: 12px 0 0;
}

#perfil {
  display: flex;
}

#avatar {
  margin: 31px 24px 21px;
  margin-right: 10px;
  border-radius: 100%;
  width: 33px;
  border: 5px solid #F2F5F9;
}

#name {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: "Lato";
  font-size: 16px;;
  font-weight: 700;
}

#txt {
  margin-left: 0px;
  padding-left: 0px;
}

small {
  font-family: "Lato";
  color: #677489;
  margin-top: 0px;
  margin-left: 0px;
}